:root {
    --primary-color: #28094A;
    --secondary-color: #19072C; 
    --accent-color: #19072C; 
}

/* ------------------------------------css code for past speakers sections---------------------------------- */

#past-speakers .visited-speakers{
    /* border: 2px solid yellow; */
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

#past-speakers .visited-speakers .past-speakers-box{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    /* border: 2px solid red; */
    padding: 1rem;
}

.speaker-img-box{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#past-speakers .visited-speakers img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#past-speakers .small-speakers{
    margin-top: 3rem;
}

/* -------------------------------------CSS for the sponsors------------------------------------------ */


#sponsors{
    height: 100vh;
    margin-top: 2rem;
}

#sponsors::before{
    content: "";
    position: absolute;
    background: url('../images/bg-pattern.png') no-repeat center center/cover;
    height: 100vh;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
    /* background-attachment: fixed; */
}

/* ------------css for the media partners------------------------------ */

#partners{
    margin-top: 2rem;
}

/* #partners::before{
    content: "";
    position: absolute;
    background: url('../images/bg.png') no-repeat center center/cover;
    height: 19rem;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
} */

.media{
    overflow: hidden;
    padding-bottom: 3rem;
    white-space: nowrap;
    /* border: 3px solid yellow; */
}


@keyframes slide {
    from{
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}

.media-slide{
    display: inline-flex;
    animation: 35s slide linear infinite;
}

.media-slide img{
    height: 100px;
    margin: 0 40px;
    border-radius: 1rem;
}

/* arrangement code */

.media-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 35px;
    color: #fff;
    /* border: 2px solid yellow; */
}


/* --------------------------------CSS for the FAQ section----------------------------------------- */

#faq{
    margin: 3rem 0;
}

#faq .container{
    margin-top: 2rem;
    margin-bottom: 3rem;
}

#faq .accordion{
    width: 50%;
    margin-left: 25%;
}

#faq .accordion-button{
    background-color: #28094A;
    color: #fff;
}

#faq .accordion-collapse{
    background-color: #330f5b;
    color: #fff;
}

#faq .accordion-button:not(.collapsed){
    background-color: #480b8d;
    color: #fff;
}

#faq .accordion-button::after{
    filter: invert(1);
}


/* --------------------------------media query for pixel less than 600px--------------------------------- */

@media only screen and (max-width: 600px) {
   
    .center{
    font-size: 2.5rem;
   }

   #faq .accordion{
        width: 90%;
        margin-left: 5%;
    }

    .media-slide img{
        height: 50px;
        margin: 0 15px;
    }

    .media-data h3{
        padding-top: 3px;
        font-size: 1.1em;
    }

    .media-data p{
        padding-top: 3px;
        font-size: 14px;
    }

    #past-speakers .visited-speakers{
        flex-wrap: wrap;
    }

    #past-speakers .small-speakers{
        margin-top: 0;
    }

    #past-speakers .visited-speakers{
        gap: 2rem;
    }

    .past-speakers-box h3{
        font-size: 1.1em;
    }
    
    .past-speakers-box p{
        font-size: 14px;
    }

}


/* --------------------------------css for the new sections------------------------------- */

.about-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 2px solid green;  */
}

.about-text{
    text-align: justify;
}


.about-contents{
    /* border: 2px solid green; */
    width: 40vw;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.video-stream{
    width: 600px; 
    height: 300px; 
    left: 100%; 
    top: 0px;
    /* border: 2px solid green; */
}



/* ---------------------------------css for the new events section--------------------- */

#new-event{
    margin-top: 5rem;
}

.new-event-container{
    margin-top: 3rem;
    /* border: 2px solid yellow; */
    display: flex;
    gap: 3rem;
    justify-content: center;
}


.new-event-box{
    /* border: 2px solid green; */
    width: 23vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    padding: 3rem 0;
    background-color: #28094A;
    border-radius: 15px;
}

.new-event-box:hover .new-event-logo{
    display: none;
}

.new-event-box:hover .new-event-name{
    display: none;
}

.new-event-logo img{
    width: 100px;
    height: 100px;
}

.new-event-name h2{
    font-size: 2rem;
    font-weight: 900;
}

.new-event-content{
    display: none;  
}

.new-event-box:hover .new-event-content{
    display: block;
}

.new-event-content p{
    text-align: justify;
    padding: 0 3rem;
}


@media only screen and (max-width: 400px){
    
    .new-event-container{
        flex-wrap: wrap;
    }

    .new-event-box{
        width: 80vw;
    }

/* pixel code for the about section */

    .about-heading{
        font-size: 2.5rem;
    }

    .about-main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    
    .about-text{
        text-align: justify;
    }
    
    
    .about-contents{
        /* border: 2px solid green; */
        width: 100%;
        padding: 2rem;
    }
    
    
    .video-stream{
        width: 90%;
    }

    .about-video{
        /* border: 2px solid yellow; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
}